/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### node_modules ###
/main/web-app/node_modules/

### bundle files ###
/src/main/resources/static/3rdpartylicenses.txt
/src/main/resources/static/main.js
/src/main/resources/static/main.js.map
/src/main/resources/static/polyfills.js
/src/main/resources/static/polyfills.js.map
/src/main/resources/static/styles.js
/src/main/resources/static/vendor.js
/src/main/resources/static/runtime.js
/src/main/resources/static/runtime.js.map
/src/main/resources/static/styles.js.map
/src/main/resources/static/vendor.js.map