<div mat-dialog-content>
	<h1>{{theRequest.employee.firstName}} {{theRequest.employee.lastName}}</h1>
	<h3>{{theRequest.employee.designation}} ( {{theRequest.employee.department}} )</h3>
	<hr/>
	
	<div *ngIf="theRequest.reasons.length > 0">
		<h2> Reasons </h2>
		<ul *ngFor="let res of theRequest.reasons">
			<li>{{res.description}}</li>
		</ul>
		<hr />
	</div>
	
	<h2>Explanation</h2>
	<p>{{theRequest.description}}</p>
</div>
<div mat-dialog-actions align="end">
	<div *ngIf="(theRequest.status==requestStatusMap.get('OPEN') || theRequest.status==requestStatusMap.get('INDISCUSSION')) && (empRole==='MANAGER')" style="margin-right:10px;">
		<button mat-raised-button color="primary" [mat-dialog-close]=1>Approve</button>
		<button mat-raised-button color="warn" [mat-dialog-close]=2>Reject</button>
		<button mat-raised-button color="accent" [mat-dialog-close]=3>Let's meet</button>
	</div>
	<button mat-raised-button [mat-dialog-close]="false">OK</button>
</div>
