<h2 mat-dialog-title>Lets Meet Discussion</h2>
<div class="conversation" #scrollMe>
<mat-dialog-content >
	
	    <div *ngFor="let comment of comments">
	    	<p *ngIf="comment.role == 'MANAGER'"  class="manager-comment">{{comment.content}}</p>
	    	<p *ngIf="comment.role == 'EMPLOYEE'" class="employee-comment">{{comment.content}}</p>
	    </div>
	
</mat-dialog-content>
</div>

<form [formGroup]="form">
	<mat-form-field>
	  <textarea matInput formControlName="message"></textarea>
	</mat-form-field>
</form>

<mat-dialog-actions  align="end">
	<button mat-button  (click)="onSubmit()">Submit</button>
	<button mat-button [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>