table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
}

.manager-icons{
  padding: 0px 14px;
  white-space: nowrap;
}

.myDatePicker {
position: fixed;
  top: 50px;
  left: 500px;
}
