table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  width: 15%;
  text-align: center;
}

.manager-icons{
  padding: 0px 14px;
  white-space: nowrap;
}

.openstatusrow {
	background-color: #f2fde4;
}


.rejectedstatusrow {
	background-color: #FFEBEE;
}

