                <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Request Description Column -->
    <ng-container matColumnDef="reqDesc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Description </th>
      <td mat-cell *matCellDef="let row"><button mat-button color="primary" (click)="viewReqDescription(row)"> {{row.description | slice:0:25}} </button></td>
    </ng-container>

    <!-- Raised By Column -->
    <ng-container matColumnDef="empId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Raised By </th>
      <td mat-cell *matCellDef="let row"> {{row.employee.firstName}} {{row.employee.lastName}}</td>
    </ng-container>
    
    <!-- Start DateTime Column -->
    <ng-container matColumnDef="startDtm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start DateTime </th>
      <td mat-cell *matCellDef="let row"> {{row.startDtm | date}}</td>
    </ng-container>
    
    <!-- Tentative end DateTime Column -->


    <ng-container matColumnDef="tentativeEndDtm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tentative End DateTime </th>
      <td mat-cell *matCellDef="let row">
      	<input [matDatepicker]="picker" type="hidden" [min]="startDate" [(ngModel)]="row.tentativeEndDtm" (dateChange)="dateChanged(row, $event)" >
		<mat-datepicker #picker class="myDatePicker" startAt="{{row.tentativeEndDtm | date}}"></mat-datepicker>
      	<button mat-button color="primary" (click)="picker.open()"> {{row.tentativeEndDtm | date}}</button>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row" class="manager-icons">
        <button mat-icon-button color="primary" (click)="onAccept(row)" [disabled]="!(row.status==requestStatusMap.get('OPEN') || row.status==requestStatusMap.get('INDISCUSSION'))">
          <mat-icon >thumb_up_alt</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onReject(row)" [disabled]="!(row.status==requestStatusMap.get('OPEN') || row.status==requestStatusMap.get('INDISCUSSION'))">
          <mat-icon >thumb_down_alt</mat-icon>
        </button>
        <button mat-icon-button color="accent" *ngIf="!(row.status==requestStatusMap.get('INDISCUSSION'))" (click)="onMeet(row)" [disabled]="!(row.status==requestStatusMap.get('OPEN'))">
          <mat-icon >people</mat-icon>
        </button>
        <button mat-icon-button color="accent"  *ngIf="row.status==requestStatusMap.get('INDISCUSSION')" (click)="onAddComment(row)" >
          <mat-icon >add_comment</mat-icon>
        </button>
        <button mat-icon-button color="accent" *ngIf="row.status==requestStatusMap.get('INDISCUSSION')" (click)="onViewDiscussion(row)" >
          <mat-icon >comment</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <p>{{myDate}}</p>
</div>