table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
  text-align: center;
}

.manager-icons{
  padding: 0px 14px;
  white-space: nowrap;
}

.openstatusrow {
	background-color: #f2fde4;
}


.rejectedstatusrow {
	background-color: #FFEBEE;
}

.table-headings {
	background-color:#fff;
	position:sticky;
	top:0;
	z-index:1001;
}
