<mat-card class="employee-card" style="font-family:helvetica">


  <div *ngIf="isImg; else templateImg">
    <img mat-card-image src='employee.img' alt="employee" height="200px" width="50px">
  </div>

  <ng-template #templateImg>
    <img mat-card-image src='../../assets/images/employeeImage.png' alt="employee" height="200px" width="10px">
  </ng-template>

  <mat-card-content>
    <h1><b>{{securityContext.firstName +' '+ securityContext.lastName}}</b></h1>
    <h3><b>{{securityContext.designation}} ({{securityContext.department}})</b></h3>
    <p *ngIf="securityContext.managerName"><b>Reports to {{securityContext.managerName}}</b></p>
    <p>{{securityContext.firstName}}</p>
  </mat-card-content>
</mat-card>
