<mat-card class="employee-card" *ngIf="employee" style="font-family:helvetica">


  <div *ngIf="isImg; else templateImg">
    <img mat-card-image src='employee.img' alt="employee" height="200px" width="50px">
  </div>

  <ng-template #templateImg>
    <img mat-card-image src='../../assets/images/employeeImage.png' alt="employee" height="200px" width="50px">
  </ng-template>

  <mat-card-content>
    <h1><b>{{employee.firstName +' '+ employee.lastName}}</b></h1>
    <h3><b>{{employee.designation}} ({{employee.department}})</b></h3>
    <p *ngIf="employee.managerName"><b>Reports to {{employee.managerName}}</b></p>
  </mat-card-content>
</mat-card>
