<h2 mat-dialog-title>Comment</h2>

<mat-dialog-content>
  <mat-form-field>
    <textarea matInput placeholder="Please enter here..." maxlength="500" [formControl]="comment" required></textarea>
    <mat-error *ngIf="comment.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions  align="end">
  <button mat-button [mat-dialog-close]="true" [disabled]="comment.invalid" (click)="onSubmit()">Submit</button>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>