.hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1 { color: #636363; }

h3 { color: #4a89dc; }

.parent {
	font-family: Helvetica;
}

.form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;  
}

mat-form-field {
	width:100%;
}

.googleLoginBtn {
	color: #FFF;
	width:100%;
	background: #DD4B39;
	border:none;
}

.googleLoginBtn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 100%;
	border-right: #BB3F30 1px solid;
  	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px no-repeat;
}

a {
	color: #FFFFFF;
    text-decoration: none;
}
