<div class="parent">

	<div class="hgroup">
	  <h1>GGK RMS</h1>
	  <h3>GGK Technologies</h3>
	</div>
	
	<div class="form">

		
	
	    <form [formGroup]="form">
	          	<div class="group">
		        <mat-form-field>
		            <input matInput placeholder="Username" formControlName ="username" required>
		        </mat-form-field>
	            </div>
	        	<mat-form-field>
	          		<input matInput placeholder="Password" type="password" formControlName = "password" required>
	        	</mat-form-field>        	
	    </form>    
	
		<!-- loginBtn loginBtn--google -->
		<button mat-raised-button (click)="login()" color="primary">Login</button>
		<button mat-raised-button class="googleLoginBtn"><a [href]="googleCodeUrl">Login with Google</a></button>
		  
	  	
		
	
	</div>
</div>
