<div class="parent">

	<div class="hgroup">
	  <h1>SRM</h1>
	  <h3>Service Request Management</h3>
	</div>
	
	<div class="form">

	<mat-toolbar class="topbar telative" style="margin:0px 10px;">
		<span>SRM</span>
	</mat-toolbar>
	
	    <form>
	          	<div class="group">
		        <mat-form-field>
		            <input matInput placeholder="Username" [(ngModel)]="loginDetail.userName" name="username" required>
		        </mat-form-field>
	            </div>
	        	<mat-form-field>
	          		<input matInput placeholder="Password" [(ngModel)]="loginDetail.password" type="password" name="password" required>
	        	</mat-form-field>
	        	
	    </form>    
	
	  <mat-card-actions>
	    <button mat-raised-button (click)="login()" color="primary">Login</button>
	  </mat-card-actions>
	  
	  <button class="loginBtn loginBtn--google"><a [href]="googleCodeUrl">Login with Google</a></button>
	</div>
</div>
