<mat-toolbar color="primary" class="topbar telative">
        <div class="navbar-header">
            SRM
        </div>
    </mat-toolbar>
    
<app-employee-detail></app-employee-detail>
<mat-divider></mat-divider>
<nav mat-tab-nav-bar color="primary" backgroundColor="primary">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
  
</nav>

<router-outlet></router-outlet>
