.layout-container {
 background-color: #FAFAFA;
 width:100%;
 height:100%;
}

.layout-sidenav {
  display: flex;
  justify-content: center;
  width: 300px;
  height:100%;
}

.spacer {
  flex: 1 1 auto;
}


