<mat-toolbar class="topbar telative" class="toolbar-top">
	<span>
		<button mat-icon-button (click)="sidenav.toggle()" matTooltip="Toggle Employee Details">
			<mat-icon >menu</mat-icon>
        </button>
	</span>
	<span id="logo">SRM</span>
	<span class="logo-desc">Service Request Management</span>
    <span class="spacer"></span>
	<button mat-raised-button (click)="myLogout()"  style="float:right;margin-right:10px;"> Logout </button>
</mat-toolbar>

<mat-sidenav-container class = "layout-container" >
	
	<mat-sidenav mode="side" #sidenav class="layout-sidenav" style="background-color:#F5F5F5;padding:10px;">
		<app-employee-detail></app-employee-detail>
	</mat-sidenav>
	
	<mat-sidenav-content>
		<nav mat-tab-nav-bar  style="background-color:#444;padding:5px;">
			<ng-container *ngFor="let link of navLinks">
			  <a mat-tab-link style="color:white;"
			     [routerLink]="link.path"
			     routerLinkActive #rla="routerLinkActive"
			     [active]="rla.isActive">
			    {{link.label}} <span class="pendingCount" *ngIf='link.label==="Manager Dashboard"'>{{pendingCount}}</span>
			  </a>
		  </ng-container>
		    
		</nav>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
	
</mat-sidenav-container> 

